framework:
    secret: '%env(APP_SECRET)%'
    
    # CSRF protection is not needed for API-only applications
    csrf_protection: false
    
    http_method_override: false
    handle_all_throwables: true

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    php_errors:
        log: true

    serializer:
        enabled: true
        
    validation:
        enabled: true
        enable_attributes: true

    uid:
        default_uuid_version: 7
        time_based_uuid_version: 7
