###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=your_secret_key_change_in_production
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://tickets_user:tickets_password@database:5432/tickets_db?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=tickets_jwt_passphrase
###< lexik/jwt-authentication-bundle ###
